[2016-02-04 16:49] whbdupree opened #4 "xfce4 on archlinux"
This is the output I get when I run it.  I am on arch, so 'python' is python3 (version included below).
$ python himawaripy.py
Updating...
Latest version: 2016/02/04/16:20:00 GMT

Downloading tiles: 16/16 completed
Downloaded

Property "/backdrop/screen0/monitor0/image-path" does not exist on channel "xfce4-desktop". If a new property should be created, use the --create option.
Done!

$ python
Pyt

[2016-02-04 17:00] mxahmed opened #5 "doesn't work on gnome3"
line 16 in utils.py: desktop_session = os.environ.get("DESKTOP_SESSION")
returns "unknown"

[2016-02-04 17:33] boramalper commented on #5
Which distro are you using?

[2016-02-04 17:36] mxmaher commented on #5
ubuntu 15.04
I've it fixed already see the pull requests
it's only a one line change

[2016-02-04 18:46] boramalper commented on #5
Can you try again using the [latest commit](https://github.com/boramalper/himawaripy/commit/af7c49c2fb417c633d87278ac1deb9b336fc7cdf) please?

[2016-02-04 18:53] mxmaher commented on #5
it works now

[2016-02-04 18:53] #5 closed

[2016-02-04 19:13] RyuzakiKK opened #7 "No such key 'draw-background' on Cinnamon"
I have Arch Linux with Cinnamon and I get this error:

    ./himawaripy.py
    Updating...
    Latest version: 2016/02/04/18:50:00 GMT

    Downloading tiles: 16/16 completed
    Downloaded

    No such key 'draw-background'
    Done!

[2016-02-04 19:14] Chrismarsh commented on #7
Same issue with Gnome 3 and Fedora 22. I just commended out that line and it seems to work...

[2016-02-04 19:21] RyuzakiKK commented on #7
Same here. Commenting the line:
`# call(["gsettings", "set", "org.gnome.desktop.background", "draw-background", "false"])`
It works and the wallpaper is set correctly.

[2016-02-04 19:26] Chrismarsh commented on #7
I assume it's addressing this bug, which looks like it might be unity-specific?
http://askubuntu.com/a/418521

[2016-02-04 19:31] boramalper commented on #7
Should be fine now. :) https://github.com/boramalper/himawaripy/commit/d33338f30fcff2421250176748e5205620a23655

[2016-02-04 19:32] boramalper commented on #4
Can you please paste the output of the following command:

[code]

[2016-02-04 19:58] RyuzakiKK commented on #7
@boramalper ok, now it works.

[2016-02-04 20:05] #7 closed

[2016-02-04 20:09] Chrismarsh commented on #7
Works here.

[2016-02-04 20:24] whbdupree commented on #4
$ xfconf-query --channel xfce4-desktop --list
/backdrop/screen0/monitor0/workspace0/color-style
/backdrop/screen0/monitor0/workspace0/image-style
/backdrop/screen0/monitor0/workspace0/last-image
/backdrop/screen0/monitor0/workspace1/color-style
/backdrop/screen0/monitor0/workspace1/image-style
/backdrop/screen0/monitor0/workspace1/last-image
/backdrop/screen0/monitor0/workspace2/color-style
/backd

[2016-02-04 21:03] rbong opened #11 "is_running has locale issues, returns true on partial matches"
When I run the script, I get an error and the following traceback:

[code]

The offending function is this:

[code]

The issue for me is that when it uses re.search(process, x), x is a bytearray. subprocess gets its locale from locale.getlocale. This solution would work with both strings and any encoding.

[code]

However, this function has another problem.

[code]

As you might've guessed, I don'

[2016-02-04 21:42] predator5047 commented on #11
Didn't this commit  6b822b53928e452786df9ee36628889f7bec4b8a fixed the issue? For me it now works.

[2016-02-04 21:55] pizzamaker opened #14 "Add a free license"
This repo seems to lack license information. I suggest AGPLv3 :)

[2016-02-04 22:03] ManuelBarrioLinares opened #15 "xfce4 on linuxmint 17.3"
It downloads fine, sets the "xfconf-query --channel xfce4-desktop --property /backdrop/screen0/monitor0/image-path"  but background doesn't change.

[2016-02-04 22:39] rbong commented on #11
I somehow got an old commit.

Edit: Began putting together this issue before the commit.

[2016-02-04 22:39] MearWolf opened #17 "Compatibility"
Could you make it possible to just download the images or even better make it compatible with Windows and/or OSX?

[2016-02-05 01:24] pbzeppelin opened #20 "urllib issue"
Firstly, I had to manually set the DE string to "mate" as it fails to detect the DE in Arch for some reason.

Anyways, I get the following error output:

[tv@Urban-HTPC himawaripy]$ ./himawaripy.py
Updating...
Latest version: 2016/02/05/00:50:00 GMT

Downloading tiles: 64/64 completed
Downloaded

Error while parsing options: Unknown option -type.
Run 'gconftool-2 --help' to see a full list of avai

[2016-02-05 01:36] the4ndy commented on #17
Per the author via [this post](https://www.reddit.com/r/linux/comments/445gil/i_wrote_a_python_script_that_puts_a_nearrealtime/), they indicated that this script is based on a PowerShell script that can be found [here](https://www.reddit.com/r/programming/comments/441do9/i_made_a_windows_powershell_script_that_puts_a/)

[2016-02-05 01:42] the4ndy opened #21 "No Module named PIL"
My machine is an Xubuntu 14.04 box running Xfce4. I know it doesnt say its supported but I thought I would give it a try and report back, unfortunately I get caught on a python module. The error is below

[code]

Some research on the PIL import error told me that I should replace the line:
`from PIL import Image`
with
`import Image`

That gave the same error as above, expect the module names were

[2016-02-05 05:22] andrew867 commented on #17
@MearWolf If you take out lines 55-69 you should be able to run it on OS X, the image will be saved as ~/.himawari/himawari-latest.png

[2016-02-05 05:57] whbdupree commented on #21
You need to install the Python Image Library. On one of my Ubuntu machines, it is called python3-pil for python 3. So, you should try the following command:
sudo apt-get install python3-pil
Then try himawaripy again.
EDIT: this should work for "from PIL import Image" so if you changed some things, you should use the original source

[2016-02-05 06:10] PenguinPaul commented on #14
Well, since he based it on the powershell script he'll need to look at that license.

[2016-02-05 06:42] boramalper commented on #14
It's not based on that script, but it surely gave me the aspiration so I thought it deserves credit. :)

I'll ask the authors of the merged pull requests to see if they are okay with MIT License.

[2016-02-05 07:04] boramalper commented on #21
Sorry for the confusion, I added instructions to README about how to install dependencies. https://github.com/boramalper/himawaripy/commit/d2c7f827706615e449b67eae548666f85a3c9390

[2016-02-05 07:04] #21 closed

[2016-02-05 07:45] davidpelayo commented on #17
@andrew867 it doesn't. could you specify better how or create a PR for it?
UPDATE: We have [a PR](https://github.com/boramalper/himawaripy/pull/19) already created. And it's working.

[2016-02-05 07:49] boramalper commented on #17
I'm waiting for authors' permission to license their contribution under MIT License, then I'll merge it as soon as possible.

For now, you can try this: https://github.com/boramalper/himawaripy/pull/13

[2016-02-05 11:41] boramalper commented on #20
It should work now. Can you please check again and write the result?

[2016-02-05 11:58] ghost commented on #20
@pbzeppelin I do update the AUR package this evening (in approx 6H) : https://aur.archlinux.org/packages/himawaripy-git/

[2016-02-05 12:38] Sutat opened #23 "Create a setup.py, runner script, etc"
Hi,

Like I said on Reddit (https://www.reddit.com/r/linux/comments/445gil/i_wrote_a_python_script_that_puts_a_nearrealtime/cznyiuo), I had to write a setup.py and patch your application.

I do not do a pull request with this cause I'm not familiar with Python but I think this is a good point to have a well prepared application for packaging purpose.

The setup.py I wrote : [setup.py](https://aur.

[2016-02-05 15:13] boramalper commented on #11
Many thanks! I completely agree with you, modifying now. :)

[2016-02-05 15:17] #11 closed

[2016-02-05 16:25] pathcl opened #26 "linux desktop compatibility"
Why not use Esetroot? its in eterm package (debian/ubuntu) and you forget about desktop compatibility. It supports them all (linux).

https://github.com/boramalper/himawaripy/blob/master/himawaripy.py#L72

call(["Esetroot", "-s", output_file])

[2016-02-05 16:31] paulcarroty opened #27 "Don't work with GNOME 3"
[code]

Python 3.5, python3-pillow 3.1.0.

[2016-02-05 17:23] ghost commented on #27
I don't think this is relatied to Gnome 3, because it worked well with my Gnome 3 and your error is triggered before the desktop environment calls.

This is the download line from the python script that trigger the error :
 res = p.map(download_chunk, product(range(level), range(level), (latest,)))

[2016-02-05 18:24] ghost commented on #20
Package updated with latests commit and merge to master

[2016-02-05 18:26] solomondg opened #29 "TypeError("cannot serialize '_io.BufferedReader' object",)"
So, trying to run this (./himawaripy.py), it outputs the following:
`$user@$hostname:~/Downloads/himawaripy$ ./himawaripy.py
Updating...
Latest version: 2016/02/05 18:00:00 GMT

Traceback (most recent call last):
  File "./himawaripy.py", line 91, in <module>
    main()
  File "./himawaripy.py", line 63, in main
    res = p.map(download_chunk, product(range(level), range(level), (latest,)))
  File

[2016-02-05 18:29] boramalper commented on #20
Thank you! :)

[2016-02-05 18:32] ghost commented on #20
You're welcome, don't forget to close the issue if this is ok for you.
And this conversation could interested you : https://www.reddit.com/r/linux/comments/445gil/i_wrote_a_python_script_that_puts_a_nearrealtime/czoxymk

[2016-02-05 18:56] ghost commented on #4
Erreur is reproduced here.
Latest Arch/Xfce

[2016-02-05 19:24] boramalper commented on #27
@Sutat You're right. The problem mentioned in issue #29 as well.

I have no idea about what may caused the problem, since we are just passing 2 integers and a `time.struct_time` object, and all of them are serializable.

[2016-02-05 19:28] boramalper commented on #26
I tried it on Ubuntu 15.10 and it failed to change. Nothing happened until I tried to change my wallpaper to another one, then it changed but right after I got an crash message from Ubuntu.

[2016-02-05 19:29] boramalper commented on #20
I'm waiting for an acknowledgement from @pbzeppelin to close it.

[2016-02-05 19:29] boramalper commented on #14
Done!

[2016-02-05 19:29] #14 closed

[2016-02-05 19:31] boramalper commented on #4
So according to what I found on the Internet, there must be property

[code]

that we can change to change the background. I don't know if are there any other way around to do this, and I can't try it myself, since I don't have XFCE installed.

I'd be glad if you can come up with a solution. :)

[2016-02-05 19:31] boramalper commented on #15
Related to #4

[2016-02-05 19:33] boramalper commented on #17
There is already a working [Windows version](https://www.reddit.com/r/programming/comments/441do9/i_made_a_windows_powershell_script_that_puts_a/) (and also Windows doesn't come with Python installed) so probably there will never be Windows version. OS X support is added though! :)

[2016-02-05 19:33] #17 closed

[2016-02-05 19:36] pbzeppelin commented on #20
I won't be home until this evening, but I'll try it then. Also, I'll use the AUR package, that way I can update it easier.

[2016-02-05 20:08] rbong commented on #15
Does the pull request fix your issue? If not...

Is there any output for the script? What is the output of

[code]

[2016-02-05 20:10] rbong commented on #4
There is no longer an image-path property. Backgrounds are now set by changing the last-image property, as odd as that may seem. Needed to change

[code]

to

[code]

[2016-02-05 20:15] whbdupree commented on #4
rbong, that doesn't work for me.

$ python himawaripy.py
Updating...
Latest version: 2016/02/05 19:50:00 GMT

Property "/backdrop/screen0/monitor0/last-image" does not exist on channel "xfce4-desktop". If a new property should be created, use the --create option.

Done!

[2016-02-05 20:17] whbdupree commented on #4
OK, I see that you have added workspace0 to the path. When I try that, himawaripy.py runs cleanly. I get on error message, but my background doesn't change.

[2016-02-05 20:19] rbong commented on #4
You also need to add /worspace0 after /monitor0

     /backdrop/screen0/monitor0/workspace0/last-image

[2016-02-05 20:19] rbong commented on #4
What is the error message?

[2016-02-05 20:20] whbdupree commented on #4
There is no error message, and my  background doesn't change.

$ python himawaripy.py
Updating...
Latest version: 2016/02/05 19:50:00 GMT

Downloading tiles: 16/16 completed
Done!

[2016-02-05 20:22] rbong commented on #4
Are you sure you're using monitor0, and not monitorHDMI-0? Also, are you on workspace0? The desired value should be somewhere in the command

[code]

[2016-02-05 20:35] whbdupree commented on #4
I am apparently using monitorHDMI-0. It is working for me now!

[2016-02-05 20:36] rbong commented on #4
That's great!

[2016-02-05 21:43] rbong opened #34 "LXDE"
The regular command does not work for me.

    display -window root ~/.himawari/himawari-latest.png

It does not complain, but the background remains unchanged. I successfully changed my background with this command.

    pcmanfm --set-wallpaper ~/.himawari/himawari-latest.png --wallpaper-mode=fit

I have already submitted pull request #33. It would be appreciated if someone could confirm the orig

[2016-02-06 01:48] pbzeppelin commented on #20
Installed the package from the AUR.

Now, I get the following error when running it:

himawaripy
Updating...
Latest version: 2016/02/06 01:20:00 GMT

multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.5/urllib/request.py", line 1240, in do_open
    h.request(req.get_method(), req.selector, req.data, headers)
  File "/usr/lib/python3.5/http/client.

[2016-02-06 02:27] ubrikkean commented on #27
No idea if this helps, but the first time I had already set the size bigger in the config, and I got this error... then I moved it back to the default 550x550, and it worked. (Pantheon on Elementary OS 0.3.2)

EDIT: confirmed, it doesn't seem to work with any non-default resolution settings, tried a whole bunch of them :(

[2016-02-06 02:29] solomondg commented on #27
That worked, thank you! Any idea how to get it to work at higher
resolutions?

[2016-02-06 02:49] gamerdonkey commented on #29
I got a very similar error when I changed the width or height variables under the configuration section of the script. Changing them both back to the default of 550 allowed the script to run.

[2016-02-06 03:49] rbong commented on #20
I also had this problem. Add "mate" to line 55 in utils.py.

[code]

Since you installed this with the package manager, it should be in /usr/lib/python3.5/site-packages himawaripy.

I was not able to replicate the http error. Ensure that you have the newest version of python3-urllib.

[2016-02-06 05:01] boramalper commented on #27
Ah, I see. :) The variables `height` and `width` is the height and width of **one** tile. As you increase the level, more tiles will be downloaded and thus the resolution and the quality of the image will increase as well.

[2016-02-06 05:16] boramalper commented on #29
Sorry for the confusion: The variables `height` and `width` are the height and width of **one** tile. You shouldn't change those variables, but as you increase the level, more tiles will be downloaded and thus the resolution and the quality of the image will increase as well.

Now `height` and `width` variables are moved from Configuration to prevent further confusion.

[2016-02-06 05:16] #29 closed

[2016-02-06 05:17] #27 closed

[2016-02-06 08:25] ghost commented on #20
Mate is already in the last package I build in AUR.
@pbzeppelin Can you install this package an try again ?
    python-urllib3

If this works, I'll add the dependency in the package.

[2016-02-06 14:17] jcmiller11 opened #40 "Multiple Monitors?"
The original version of my OS X support branch just set the main monitor's desktop picture, @cj-zeiger  was kind enough to submit a pull request to me that sets all of them. Can anyone comment on how multiple monitors work with the other desktop environments like on Linux so we could perhaps put in a cross-platform, configurable, setting to allow the users to select exactly which monitors they wan

[2016-02-06 15:43] boramalper commented on #34
Pull request merged. Thanks!

[2016-02-06 15:43] #34 closed

[2016-02-06 15:51] hdiwan opened #41 "Mac OS X Change Desktop Background"
Looks like you [can change the desktop background](http://stackoverflow.com/questions/431205/how-can-i-programatically-change-the-background-in-mac-os-x) pretty easily with the [appscript](https://pypi.python.org/pypi/appscript) plugin. I will [put code up shortly](http://www.prolificprogrammer.com) to change the background to NASA's latest picture of the day, modifying this to allow for the JSA E

[2016-02-06 16:05] boramalper commented on #41
I'm not in favor of adding another dependency. Is current implementation not working for you?

[2016-02-06 16:41] hdiwan commented on #41
No, it doesn't work under OS X. If you want to avoid a dependency, invoke osascript directly using subprocess or use pyobjc, included with the system since OS X 10.5

[2016-02-06 16:43] wesbarnett commented on #23
I've put in a pull request for a different setup.py. There's no need to create a different start script. See #42

[2016-02-06 16:46] ghost commented on #23
Ok, I'm not used to Python so I bet your dev is better no problem.

_edit : I closed my pull request_

[2016-02-06 17:29] pbzeppelin commented on #20
- re-installed python-urllib3 (@rbong: no such thing as python3-urllib)
- re-installed himawaripy-git

No change.

Also, @rbong: I added mate to that array, and that got rid of that error. Thanks; that's better than hardcoding it to always detect MATE...Thankfully XFCE doesn't like the HTPC setup. (Won't re-init the display after it's been unplugged/turned off)

[2016-02-06 17:33] boramalper commented on #20
@rbong @pbzeppelin But isn't mate already in the list (or array)? You shouldn't need to add it, should you?

[2016-02-06 17:55] boramalper commented on #41
That's exactly what we're doing: https://github.com/boramalper/himawaripy/blob/master/himawaripy.py#L85

I have no idea what causes it. A wild question, what is your OS X and osascript version?

[2016-02-06 17:57] pbzeppelin commented on #20
Considering I just added it like 35 minutes ago, I'm gonna go with no. But, that's the AUR PKG..It may need to be updated, assuming the patch to add it was merged. (it looks like it was)

[2016-02-06 17:59] rbong commented on #20
MATE was in the other array. With the pull request merged, it's now in both.

@pbzeppelin: excuse me, I meant python-urllib3

[2016-02-06 18:01] pbzeppelin commented on #40
In MATE:
By the default settings, all monitors have the same wallpaper. I think there's a way to set an idividual one per each monitor, but I haven't looked too far into it.

GNOME 3:

Same, I believe. Someone else will have to confirm this as I avoid GNOME whenever I can

XFCE:

Allows you to set different wallpapers per monitor per the settings menu, not sure if you can set it from the CLI. If t

[2016-02-06 18:01] boramalper commented on #20
Fine then. Closing the issue.

Many thanks to everyone! :)

[2016-02-06 18:09] rbong commented on #20
I think that only fixed MATE detection, not the url error.

[2016-02-06 18:11] ghost commented on #20
I think you should open a new issue if you have an other ... issue :)

[2016-02-06 19:08] pbzeppelin commented on #20
Excuse me, that did not fix _this_ issue, this ticket should not be closed yet.

edit: by this issue, I mean the urllib error.

[2016-02-06 19:15] Sutat opened #44 "Current setup.py install more than one script in /usr/bin"
Current AUR setup.py :
~/pkg/himawaripy-git   master ●  pacman -Ql himawaripy-git
himawaripy-git /usr/
himawaripy-git /usr/bin/
himawaripy-git /usr/bin/himawaripy

Current himawaripy github setup.py :
~/pkg/himawaripy-git   dev ●  pacman -Ql himawaripy-git
himawaripy-git /usr/
himawaripy-git /usr/bin/
himawaripy-git /usr/bin/himawaripy
himawaripy-git /usr/bin/himawaripy.py
himawaripy-git /us

[2016-02-06 19:16] ghost commented on #23
Close since this pull request is merged : https://github.com/boramalper/himawaripy/pull/42
But I opened a new issue here : https://github.com/boramalper/himawaripy/issues/44

[2016-02-06 19:16] #23 closed

[2016-02-06 20:31] boramalper commented on #20
Let's see if we can find a solution...

I think the problem is about name resolution, can you please try this command:

[code]

Wait for a 20 seconds. If it prints `nc: getaddrinfo: Name or service not known`, then it means that your machine can not resolve the domain name. If it doesn't print anything, well, we'll try to figure it out. :)

[2016-02-06 20:42] #4 closed

[2016-02-06 20:59] boramalper commented on #44
I'll work on it. Also @wesbarnett might be interested in as well.

[2016-02-06 21:36] boramalper commented on #44
It should be fine now.

[2016-02-06 21:36] #44 closed

[2016-02-06 21:52] ghost commented on #44
This is fine on arch, package AUR up to date, I deleted my setup.py from the package to use yours.

[2016-02-06 22:19] rbong commented on #40
You can indeed set different wallpapers per-monitor with xfce through cli. With the latest version of this script, multi monitors are supported by xfce, although it's nothing robust.

[2016-02-06 23:48] timofurrer opened #46 "Support screensavers"
Support setting backgrounds of screensavers.

[2016-02-07 01:19] pbzeppelin commented on #20
Hmmmm.. Did I type that right?

For what it's worth, I can ping that address without a response. It can definitely resolve the address to 133.243.243.104.

[2016-02-07 03:01] pbzeppelin commented on #20
Okay, I had to install the gnu-netcat package, and ran the command...and it printed nothing.

[2016-02-07 09:27] ghost commented on #20
Reinstall the AUR package, and don't change anything from the script (don't change options).
And then I would try that :

[code]

It should print something like :

[code]
- Do you have a proxy ?

[2016-02-07 13:57] boramalper commented on #46
Considering that even setting the background for different desktop environments was painful (and there are still some problems), this will make himawaripy much more complicated.

I'm closing this issue now, but if you (or someone else) can come up with a simple (not so complicated let's say) solution, I'd love to merge. :)

[2016-02-07 13:57] #46 closed

[2016-02-07 19:04] pbzeppelin commented on #20
- No proxy

---

Curl worked. It responded with:

[2016-02-07 19:07] pbzeppelin commented on #20
Also, reinstalling changed nothing; still getting the same error. You'll also want to mention that setuptools is required...

[2016-02-08 00:07] jcmiller11 commented on #40
I was hoping to use this issue for us to discuss a robust cross platform setting variable, perhaps a python list or something, that we can check when we get to where we set the actual desktop picture based on environment "does this DE support multiple monitors?  if so, which monitors should we set?"

[2016-02-08 18:59] guillefar opened #47 "Wrong instruccions for systemd"
There is no instruccions for what have to go inside himawaripy.service, and also path is wrong (and no INSTALLATION_PATH to be replaced)

    ### Configure
        vi systemd/himawaripy.service
        # Replace "<INSTALLATION_PATH>" with the output of the aforementioned command.

[2016-02-08 19:21] boramalper commented on #47
`<INSTALLATION_PATH>` is the output of the command `which -- himawaripy`.

[2016-02-08 19:29] guillefar commented on #47
Yes, but there is no INSTALLATION_PATH here:

 ### Configure
        vi systemd/himawaripy.service
        # Replace "<INSTALLATION_PATH>" with the output of the aforementioned command.

[code]

And in no place says what the content of systemd/himawaripy.service should be.

[2016-02-09 06:47] boramalper commented on #47
You need to replace the `<INSTALLATION_PATH>` in the file `systemd/himawaripy.service` with the output of the conmand `which -- himawaripy`.

I hope it's finally clear enough.

[2016-02-09 06:47] #47 closed

[2016-02-09 19:18] boramalper commented on #41
I'm closing the issue as there are no more answers for three days. Feel free to raise it again, if you need so.

[2016-02-09 19:18] #41 closed

[2016-02-09 19:20] boramalper commented on #15
Closing the issue due to inactivity. Feel free to continue though, I'll open it again.

[2016-02-09 19:20] #15 closed

[2016-02-09 19:44] boramalper commented on #26
Closing due to inactivity. Feel free to comment, I'll open it again.

[2016-02-09 19:44] #26 closed

[2016-02-27 00:15] p4block opened #48 "Option to disable offset"
I just want to get the latest available image, could it be possible to pass an option to the script so it ignores the offset?

This instead of having to edit the config file

[2016-02-27 08:45] boramalper commented on #48
I want to keep it simple, so I'm not planning to add runtime parameters for now.

May I learn the reason of needing runtime parameters instead of config file?

[2016-02-27 15:10] p4block commented on #48
I respect the decision on simplicity, but runtime parameters are a must imho

Yesterday I found that I was getting an offset picture of the Earth instead of the realtime one, so I tried running the software with -h and --help, but nothing happened. Some info on usage is somewhat expected.

A quick locate found the configuration file buried very deep inside the filesystem, and I edited it. Everythi

[2016-02-27 16:46] boramalper commented on #48
I think the points you raised are fair enough, I'll try to add runtime parameters support.

Thanks for the suggestion! :)

[2016-03-15 19:31] desbma opened #50 "Publish package on PyPI"
To increase visibility and make installation easier (`pip install himawaripy`), a PyPI package could be created.

To separate code from user configuration, the config file should also be moved outside of the package (I can write a patch for that if you want).

[2016-03-20 10:13] boramalper commented on #50
That's a great idea! I would like you to write a patch, if possible. :)

[2016-07-12 19:51] haleemur opened #53 "DOC: working on mac osx el capitan"
its working for me on mac osx el capitan, so maybe we can update the documentation. _happy to submit a PR_.

However, mac's don't support crontab, so instead, we have to create a plist entry. This is what I had working:

    file name: com.user.himawaripy.plist

[code]

and then it was necessary to load the `plist` file

    launchctl load ~/Library/LaunchAgents/com.user.himawaripy.plist

[2016-07-12 21:08] boramalper commented on #53
Thanks for contributing! I'd also be happy to have a PR. :)

[2016-07-13 07:22] #53 closed

[2016-07-13 07:23] #50 closed

[2016-07-26 19:37] cdysthe opened #56 "Image cut on top in Unity"
Hi,

The image is cut on top in Unity. Seems like the very top is hidden below the top bar. Is there a way to make the image a little bit smaller or to set a top margin?

[2016-07-26 22:27] mamantoha opened #57 "KDE 5 support"
You can set a wallpaper in Plasma 5.7 with this command:

[code]

I hope this could help you to add support for KDE 5.

[2016-07-26 23:37] AbuMaia commented on #20
I am having this urllib issue as well, on Ubuntu 16.04 running Gnome Shell 3.18.5.

[code]

I have tried the

[code]

code, but it just sits there, and eventually comes back to the prompt with no response.

Curl worked:

[code]

[2016-07-27 03:10] cadieux commented on #56
This issue happens for Gnome 3 on Fedora as well.

[2016-07-27 12:45] boramalper commented on #57
Thanks a lot! Do you know how to detect KDE version programmatically, then I can implement it right away.

**EDIT:** I've just realized that it can't change the background in KDE 4 as well (see [`set_background()`](https://github.com/boramalper/himawaripy/blob/master/himawaripy/utils.py#L8))! Do you know how to change background in KDE 4.

[2016-07-27 12:53] boramalper commented on #56
I realized it as well, but I think it's a design decision of Unity and Gnome. If the top bar has a fixed height (in pixels) across all resolutions, maybe then we can find a solution.

[2016-07-27 16:33] jurf commented on #56
The image is cut both on the top and bottom for me (GNOME 3).

[2016-07-28 14:52] minils opened #58 "Error on first execution"
I just installed how it is described in the readme and tried to execute  `$ himawaripy`.
It downloaded the first 3 chunks and then stops with the following error:
[code]

I am using the following setup:
Fedora `24`
Gnome `3.20.2`
Python `3.5.1`

[2016-07-30 11:47] mamantoha commented on #57
@boramalper no, I don't use KDE 4.

Thanks @imnofox for implementation :beer:

[2016-07-31 17:45] egeesin commented on #58
At first execution, I got similar error. I'm using OS X 10.11.6

[code]

[2016-07-31 19:42] varundey opened #63 "Gives the following error on running script"
~/Downloads/himawaripy-master > himawaripy
Updating...
Latest version: 2016/07/31 19:10:00 GMT
Offset version: 2016/07/31 14:28:00 GMT

Downloading tiles: 0/16 completedTraceback (most recent call last):
  File "/usr/local/bin/himawaripy", line 9, in <module>
    load_entry_point('himawaripy==1.1', 'console_scripts', 'himawaripy')()
  File "/usr/local/lib/python3.5/dist-packages/himawaripy-1.1-py3

[2016-08-03 07:28] boramalper commented on #58
@minils I don't really know what causes your problem. Can you try it again to see if it recurs? Can you visit http://himawari8.nict.go.jp with your web browser to see if it opens?

---

@egeesin I don't think that your error is similar at all, can you please open another issue ticket?

[2016-08-03 07:30] boramalper commented on #20
@AbuMaia Well, it says `Temporary failure in name resolution` so let's hope that it was a temporary issue. :)

Can you check if it recurs?

[2016-08-03 07:31] boramalper commented on #63
Which Python version are you using?

[2016-08-03 12:24] AbuMaia commented on #20
Same error.

[2016-08-03 13:47] boramalper commented on #20
@AbuMaia I don't know the solution yet, but can you please open up another issue?

[2016-08-03 14:18] varundey commented on #63
I installed the package using python 3: `sudo python3 setup.py install` as given [over here](http://www.omgubuntu.co.uk/2016/07/set-real-time-earth-wallpaper-ubuntu-desktop).
It produces the above error on running `himawaripy` in the fourth step.

[2016-08-04 00:37] cezhunter commented on #41
I am having an issue with the mac os Implementation, it seems to go through the process of installation successfully:
`sudo python3 setup.py install
running install
running bdist_egg
running egg_info
writing dependency_links to himawaripy.egg-info/dependency_links.txt
writing requirements to himawaripy.egg-info/requires.txt
writing himawaripy.egg-info/PKG-INFO
writing entry points to himawaripy.eg

[2016-08-04 09:08] boramalper commented on #41
Hmm, I've never used a mac but let me try my best:

Try running: `/usr/local/bin/himawaripy` from your terminal. If it works, it works! Then follow [the instructions](https://github.com/boramalper/himawaripy#for-mac-osx-users).

[2016-08-04 11:47] hche608 opened #68 "No Image"
I am using Mac OS 10.11.6, I got no image, how to solve the problem
![image](https://cloud.githubusercontent.com/assets/6982065/17400740/bf2fc6e2-5a9d-11e6-80f9-ad174ba82434.png)

[2016-08-04 15:06] mrugna commented on #20
Same issue here. If I run it independently it works fine, but every time on crontab it fails the same way

[2016-08-04 20:34] sg-s opened #70 "[macOS][bug] changing the wallpaper restarts the Dock, which is annoying"
problem is as described: when the wallpaper is reset, the Dock reloads, causing it to close and open, which is very distracting.

Surely there is a better way of changing the wallpaper than reloading the Dock/Finder?

[2016-08-04 20:34] sg-s commented on #68
happened to be for a bit, but then went away on its own

[2016-08-05 04:01] AbuMaia opened #71 "urllib.error.URLError: <urlopen error [Errno -3] Temporary failure in name resolution>`"
Ubuntu 16.04.1 LTS 64-bit
Gnome Shell 3.18.5

`abumaia@AbuMaia:~$ himawaripy
Updating...
Latest version: 2016/08/05 03:30:00 GMT
Offset version: 2016/08/04 11:30:00 GMT

Downloading tiles: 5/16 completedmultiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.5/urllib/request.py", line 1254, in do_open
    h.request(req.get_method(), req.selector, req.d

[2016-08-05 13:19] boramalper commented on #68
It happens to me as well (I'm on Ubuntu), although it goes away on its own as @sg-s said.

I have no idea why it's happening: maybe it's a bug in [the programs we're calling](https://github.com/boramalper/himawaripy/blob/master/himawaripy/utils.py)?

[2016-08-05 13:26] boramalper commented on #70
Found [the cause](https://github.com/boramalper/himawaripy/blob/master/himawaripy/utils.py#L32)! We explicitly restart the Dock to (I think?) make OS X refresh the image.

Since I have no idea about OS X, maybe [the author](https://github.com/boramalper/himawaripy/pull/13/commits/8fc30136f5d7cce418cb1eb9ea1a4f678381dd51) of OS X support (@jcmiller11) might help us here. :)

[2016-08-05 13:48] boramalper commented on #63
Honestly speaking, I don't know what might have caused the error, but it's probably when the downloader tries to return `tiledata` ([here](https://github.com/boramalper/himawaripy/blob/09599ff96cbe365e8e6aa008f475c303c59766f9/himawaripy/himawaripy.py#L59)).

The thing is, we are not trying to return `_io.BufferedReader` object at all. Is it possible that by any chance you removed the parentheses o

[2016-08-05 14:52] sg-s commented on #70
this may be a bit of a overkill, but maybe use [wallpaper](https://github.com/sindresorhus/wallpaper)?

it takes just one line to change the wallpaper, and does not need you to kill the Dock:

[code]

[2016-08-05 15:01] sg-s commented on #70
is there more than one `killall`?

I tried replacing that section with:

[code]

but the Dock still restarts. mysterious.

[2016-08-05 15:46] boramalper commented on #70
No. It's even more mysterious for me as someone who never used a mac. :)

I'll look for a Python module to set the wallpaper, or going to create one as a separate project. The current status seems like a bit of mess and that really bothers me. I thought about using [appscript](http://appscript.sourceforge.net/) but it's abandoned. Making people install a node.js app for a 300 lines of Python scrip

[2016-08-05 16:12] sg-s commented on #70
nevermind, fixed it:

[code]

works. you need to have wallpaper installed.

[2016-08-05 17:20] ZSandyGhost opened #72 "'TypeError("cannot serialize '_io.BufferedReader' object",)'"
[code]

I get this error when I run it from terminal. This is the first run. I  got this error on Ubuntu few weeks ago when I first tried it. Now I'm on Mint 18 and getting the same error.

[2016-08-05 18:37] varundey commented on #63
Hi @boramalper , `python3 --version` returns `Python 3.5.2` and no I did not modify the source in any way :smile:
Hopefully, there will be a solution to this :+1: :grinning:

[2016-08-05 18:58] boramalper commented on #70
Glad to hear! I'll keep the issue open though, for the problem is still not resolved.

[2016-08-05 19:18] #40 closed

[2016-08-05 19:42] boramalper commented on #63
@ZSandyGhost wrote:

[2016-08-05 19:42] boramalper commented on #57
Done!

[2016-08-05 19:42] #57 closed

[2016-08-05 19:54] boramalper commented on #72
see #63.

[2016-08-05 19:54] #72 closed

[2016-08-05 23:12] lachlandcp commented on #68
I think it's something to do with dates & timezones.

For instance, I'm in New Zealand (UTC+12), and currently it tries to request the tile `2016/08/06/003000`, where as the latest tiles avaliable are for `2016/08/05/223000`.

It's trying to request the tiles from tomorrow (or something like that).

[2016-08-06 06:02] longgangfan opened #73 "there are eighteen processes named himawaripy"
Is it normal that there are eighteen processes named himawaripy keeping running?

[2016-08-06 06:49] ZSandyGhost commented on #63
I'm also using Python 3.5.2

[2016-08-06 07:56] longgangfan commented on #73
I have resolved the problem by changing the contab line "_/10 \* \* \* \*  /usr/local/bin/himawaripy" to "_/10 \* \* \* \*  /usr/local/bin/himawaripy >/dev/null 2>&1"

[2016-08-06 11:11] longgangfan commented on #73
The solution seems does't always work。

[2016-08-06 14:08] ZSandyGhost commented on #63
I edited the download_chunk function in himawaripy.py file to something like this so it pritnts out the urls for individual parts of the image and then I went to those urls manually from the browser and it gave me 404 Not found. Could this be the problem? Maybe it blocks certain ip addresses or something. I tried using an VPN and still no luck

[code]

[2016-08-06 15:05] ZSandyGhost commented on #63
I found the issue that causing this. It's the timezones as mentioned in #68 I'm from asia and It worked after I changed my timezone to New York and it worked like a charm

And setting auto_offset to False in config.py also have solved the problem without altering the timezones

[2016-08-07 03:50] varundey commented on #63
@ZSandyGhost is right. It's the issue in timezone. Though changing `auto_offset` is not necessary. I changed the timezone to `Asia/Kolkata` and it works like a charm. I think the timezone has to be behind Japanese time-zone. Not sure though, just a thought!

[2016-08-07 09:37] hche608 commented on #68
@imnofox you are correct, fixed the problem by deleting
`line 36        offset_tmp = offset_tmp + timedelta(hours=offset)`

[2016-08-07 09:41] lachlandcp commented on #68
Isn't deleting that line just the same as disabling auto_offset in config.py?

[2016-08-07 11:24] boramalper commented on #68
@imnofox is right. The issue is still unsolved so I reopened it. I'll work on a fix asap.

Thanks everyone for figuring it out. Really really nice catch!

[2016-08-07 12:26] hche608 commented on #70
@sg-s @boramalper
`wallpaper`
It works, but the code only runs once, I have to use code like this to keep it to run every 10 mins. This does not make sense.

[code]

this can execute can every 10 mins.

[2016-08-07 12:44] boramalper commented on #70
Thanks, but I'm strongly against using `wallpaper`, maybe I can dig into their source and find how they do it. :)

[2016-08-08 00:17] hche608 commented on #68
@boramalper is it a logic issue? I am in New Zealand,  which is 2 hours beyond the himawaripy time, but the code requests IMG base on NZ time which is a future time. I have check the code offset hour is correct, which is 2 hours,

|  | Local time | himawaripy time | Local time |
| --- | --- | --- | --- |
|  | 6PM | 9PM | 11PM |
| Offset Hours | -3 | 0 | 2 |

11PM - 2hours = 6PM - -3hours = 9PM

`l

[2016-08-08 06:45] lachlandcp commented on #73
[code]

[2016-08-08 09:15] FaceCrash opened #75 "I did a tiny change made new coming pic named by date. i wonder how to store a whole day's pic and make backgroud replay?"
I did a tiny change made new coming pic named by date.  i wonder how to store a whole day's pic and make backgroud replay?

himawaripy/confif.py
output_file = os.path.join(appdirs.user_cache_dir(appname="himawaripy",
                                                  appauthor=False),
                           time.ctime()  )
                            ^^^^^^^^^^^
this will store everyday's pic..

[2016-08-08 09:19] indescribable commented on #75
i donno if its properly write here.this is not some kindof issue.more like a new function request...
maybe someone can tell me ?

[2016-08-08 13:13] sg-s commented on #70
@hche608

not sure why you're using the AppleScript in addition to wallpaper. To be clear, just this works:

[code]

[2016-08-08 13:14] sg-s commented on #70
@boramalper agreed; the simpler the better!

[2016-08-09 01:38] longgangfan commented on #73
Sometimes these processes will keep staying in background with nothing to do, because the last crontab cycle has past several minutes ago, even when the next cycle has began the "himawaripys"  of the last cycle still stayed there.

[2016-08-09 10:52] boramalper commented on #73
@imnofox But how come there can be **18** processes?

We create a process pool like this:

[code]

so 18 minus one main process is equal to 17, which is a prime number (i.e. cannot be the product of `cpu_count() * level`).

I was using systemd, but will try with cron and see if I can find a fix.

[2016-08-09 10:55] boramalper commented on #75
himawaripy is to fetch (almost) real-time picture of Earth, not to cycle old images of it, although that's also understandable.

You can save the photos as you said in a directory and then loop over them to change wallpaper in every 10 minutes. KDE supports this out-of-the-box I think, but you can always write a script.

Closing the issue as it's not relevant to himawaripy.

[2016-08-09 10:55] #75 closed

[2016-08-09 11:04] lachlandcp commented on #73
@boramalper Somehow (likely in a tired state) I totally misinterpeted the code. Please ignore my comments 😵.

[2016-08-09 11:25] boramalper commented on #73
@imnofox No problems, I deeply appreciate your interest. :)

---

@longgangfan Can you please log the cronjob you set for the himawaripy and share it after like an hour? You can see how to do it [here](http://stackoverflow.com/a/4811775/4466589).

Sorry for the inconvenience, hope I'm not asking for too much.

---

I have two theories about the issue:
1. Either it's because we don't _close_ the pr

[2016-08-09 19:23] jcmiller11 commented on #70
Hey guys, was on vacation when this was happening!  So as I commented when I added that line:

https://github.com/jcmiller11/himawaripy/commit/8fc30136f5d7cce418cb1eb9ea1a4f678381dd51

The killing of the dock is to stop a problem where OS X would cache the wallpaper in RAM and not check to see if the picture file had changed given that it was using the same filename each time.  It was kind of a ha

[2016-08-09 23:48] jcmiller11 commented on #70
It's been a long time since I touched all of this code, and it's all coming back to me solving this problem when I first added that killall line.  We can add code to the main system to do something like timestamps for a unique filename to partially solve the problem of the picture update only working occasionally, but then we need to deal with a more complex cleanup system to remove them later...

[2016-08-10 01:22] sg-s commented on #70
how bad would it be to use unique filenames on macOS? you could even use random file names -- i agree it is clunky but that seems to be the only reasonable way

[2016-08-10 02:26] jcmiller11 commented on #70
would have to add in some whole way to store the name of the last file to delete, destroying the simplicity of relying on each native filesystem to overwrite the file, would most easily be implemented outside of the environment specific code, still wouldn't totally solve the problem.  I'll wait for @boramalper to weigh in on this

[2016-08-10 05:42] longgangfan commented on #73
I attach a log file of crontab. I think the problem is caused by the unsuccess from the downloader process. The network connection condition varies with time, when the connection is bad, the problem will happen. And I have noticed that it created 9 processes named himawaripy every cycle, but if the downloader failed the job, all the 9 processes would  hang there and with nothing to do. After a lon

[2016-08-10 08:52] boramalper commented on #70
I think we can append the date in the file name. Then we'll delete the last image, and save the new one.

Since himawaripy is using [appdirs](https://pypi.python.org/pypi/appdirs) to save images in its own dedicated directory, we can check if there is only one `.png` file with the prefix `himawaripy-` in that directory, we can delete that image and save the latest one; if not, we will exit the pro

[2016-08-10 14:05] sg-s commented on #70
how about a cruder approach?
1. delete all .png files with the prefix "himawaripy" in the target folder
2. download the new image, save it with a random name (or timestamp)
3. set wallpaper (since filenames are now unique, it should work)

repeat

[2016-08-10 17:01] boramalper commented on #70
@sg-s Why cruder? The only difference (checking whether there are more than one .png file to be deleted) is very very simple to implement (just checking the length of the results) yet can save us from a possible catastrophe. Given that how many things went wrong with this intended-to-be-small-script, I'm really hesitant of crude approaches. :)

[2016-08-10 17:05] jcmiller11 commented on #70
Agreed, any script that deletes a file should do so very judiciously as a small bug can be catastrophic, for example: https://github.com/MrMEEE/bumblebee-Old-and-abbandoned/issues/123

Using a random name might necessitate an extra check for the very small chance of a collision lest one in a million updates fail to display for mac users, lol.  I think @boramalper 's proposed solution is the best c

[2016-08-13 06:08] Detavern commented on #68
It's an issue of himawari8 website itself, sometimes it just didn't have any images.
You can have a try here:
[himawari8](http://himawari8.nict.go.jp/himawari8-image.htm?sI=D531106&sCl=false&sClC=ffff00&sS=4&sNx=1&sNy=0&sL=-167&sT=-534&wW=2497&wH=861&sD=1471056000000)
[Relevant image url](http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/2016/08/13/024000_0_0.png)
I'm not sure if it's sa

[2016-08-13 08:31] Detavern commented on #68
And I have another question about why we need time zone offset ...
you know that himawari8 is a geosynchronous orbit satellite.
it can't capture image of earth on the other side ...

[2016-08-13 15:08] sg-s commented on #68
@Detavern because if you didn't, and lived in the Western Hemisphere, with no offset, you'd only see a dark picture during the daytime hours (when you're awake and using your computer)

[2016-08-13 15:47] Detavern commented on #68
@sg-s but.. even you awake, looking at the Australia on image with sunshine, you may suddenly realize that the Western Hemisphere is still in dark XD
maybe we need another satellite

[2016-08-14 12:27] sg-s commented on #68
yeah, this is a workaround because we don't have access to an equivalent satellite for the western hemisphere. actually, if you didn't want an offset, you need a geosynchronous satellite for every longitude

[2016-08-16 20:54] boramalper commented on #73
[This commit](https://github.com/boramalper/himawaripy/commit/6da41e5535e1dd4fee622c4c3fe4a7ae89c6a3f7) should solve the problem. Can you confirm @longgangfan?

[2016-08-16 21:45] boramalper commented on #70
[This commit](https://github.com/boramalper/himawaripy/commit/b154663e0fd573eb3ccc02afda25b6970bdce2a6) should resolve the issue. Can you confirm @sg-s?

[2016-08-18 13:29] sg-s commented on #70
HI @boramalper, thanks! I think you forgot to remove this line:

[code]

in `utils.py`

I removed it, and it looks like it's working! Awesome!

[2016-08-18 18:50] boramalper commented on #70
@sg-s Fixed. Thank you all so much!

[2016-08-18 18:50] #70 closed

[2016-08-19 09:17] longgangfan commented on #73
I am so sorry to tell you that the problem is still there.

[2016-08-22 21:14] ottlinger opened #79 "Not working on Ubuntu 16.04 as specified in the howto"
Thanks for the project, I've just tried to follow the howto, but get a

[code]

I did not change the configuration - does it need any changes to work?
Are python modules missing?

Thanks

[2016-08-22 21:32] ottlinger commented on #79
Prerequisites need to be documented - fixed by the pull request.

[2016-08-31 09:01] minils commented on #58
@boramalper I opened http://himawari8.nict.go.jp/ and it works. I tried to reinstall a few times, but I still receive the same error message.

[2016-08-31 09:09] minils commented on #58
I tried it on my notebook with a similar software configuration and receive this error:

[code]

So it is able to download like 13 tiles before it is aborted...

[2016-09-06 01:08] Jeffwhen opened #82 "How to set fallback image"
Sometimes the image requirement fails, then the desktop went all black with grided text. So I am wondering is there a way to set a fallback option.

[2016-09-14 17:09] sg-s commented on #82
I think that this is a problem, and a good way to solve this is for himawaripy to check if it can actually get an image. If it's simply tiles of "no image", it should fall back to the last "good" image. thoughts?

[2016-09-14 19:49] jcmiller11 commented on #82
I believe this may be a regression due to the fixing of this issue: https://github.com/boramalper/himawaripy/issues/70

Line 105 of himaripy.py deletes the old file without checking if the whole download was successful, and the nested try blocks during the download only prevent Line 105 from being run if the mode of failure was a timeout during one of the image downloads I think.  Should be a pret

[2016-09-17 15:29] xgt001 commented on #63
setting `auto_offset = False` worked for me as well. Thanks guys

[2016-09-20 23:03] relentless-coder opened #83 "Image not showing up in Ubuntu 16.04"
I followed every step as described in the installation process, but nothing happened. The is installed, I have looked into the directory, but the desktop background didn't change.

[2016-09-28 05:40] collif commented on #63
I have been receiving this error as well, however changing auto_offset to False did not work for me. Any other potential work arounds?

[2016-10-08 17:22] squilter opened #85 "Time offset confusion"
I wanted real-time pictures. I kept getting them at some other time. So I went into the config file, and it said "using the default values, script will put the realtime picture of Earth". But it clearly wasn't. So then I changed `True` to `False` and then it was correct. Either this comment is misleading, or something else is wrong.

[2016-10-13 12:21] boramalper commented on #85
Hello,

can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me know if it fixes your problem?

Thanks!

[2016-10-13 12:22] boramalper commented on #82
Hello,

this used to happen due to a problem in time logic of himawaripy (long story short, it tried to fetch images of earth from the future some times :) ).

Can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me know if it fixes your problem?

Thanks!

[2016-10-13 12:23] boramalper commented on #73
Hello,

v2 of himawaripy uses threads instead of multiple processes so hopefully this time it won't occur again (fingers crossed).

Can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me know if it fixes your problem?

Thanks!

[2016-10-13 12:24] boramalper commented on #68
Hello,

as I've said in #82, this was due to a problem in time logic of himawaripy.

Can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me know if it fixes your problem?

Thanks!

[2016-10-13 12:25] boramalper commented on #63
Hello all,

still being not sure, I suspect this was because of multiprocessing (Python was probably failing to serialize and pass huge objects back and forth different processes). Now that we switched to multi-threading, the issue should be resolved, hopefully.

Can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me know if it fixes your probl

[2016-10-13 12:27] boramalper commented on #58
Hello,

in v2 of himawaripy, the script retries for up to 3 times before giving up. I think it will solve your problem since (according to your last message) it was able to download like 13 tiles before it was aborted so it's likely to be a temporary error that ruined the whole process.

can you please make a clean installation of v2 (https://github.com/boramalper/himawaripy/tree/v2) and let me kn

[2016-10-13 12:33] boramalper commented on #48
Done in [v2](https://github.com/boramalper/himawaripy/commit/a9fd7f538d1deaa36f1e4f443c0b86738819589a). :)

Many many thanks!

[2016-10-13 12:33] #48 closed

[2016-10-13 12:35] boramalper commented on #56
Is there a way to programmatically determine the height of those top bars in Unity and GNOME 3, or anything specified in documentation or specs? If yes, I can make the necessary changes, otherwise I don't want to blindly "solve" the issue.

[2016-10-14 08:56] minils commented on #58
I did a clean installation with v2 and it WORKS! :+1:
Here is the log:

[code]

Thank you!

[2016-10-14 13:01] longgangfan commented on #73
Thank you for your improvement. I have make a clean installation, and been testing it for 110 minutes by the crontab way. Everything works fine by now. In the past two months, I stopped using himawaripy for this problem, but I think I will use it again. thank you!

[2016-10-14 13:09] boramalper commented on #73
Sorry for the inconvenience then, glad that it solved your problem! :)

[2016-10-14 13:09] #73 closed

[2016-10-14 13:10] boramalper commented on #58
You're welcome! :)

[2016-10-14 13:10] #58 closed

[2016-10-14 13:14] boramalper opened #86 "Checking OS X compatibility of v2"
Hello,

can someone who is using himawaripy on OS X (or macOS, whatever) check whether [v2](https://github.com/boramalper/himawaripy/tree/v2) is working smoothly on OS X?

Battery saving option won't work, I am aware of that.

/CC @jcmiller11

[2016-10-15 17:28] squilter commented on #85
It's great, thanks!

[2016-10-15 17:28] #85 closed

[2016-10-16 04:24] boramalper commented on #85
You're welcome! :)

[2016-11-02 19:32] Cabalist commented on #86
Just tried on a 10.10 machine and it is working great.  Anything in particular you'd like me to bang on?

[2016-11-09 20:05] Daniel-at-github opened #89 "Add Europe centered view"
If anyone want to other views of the world, here is the data for Europe near real time image satellite:
- URL: http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBNatColour_LowResolution.jpg
- Update time: 1h

Source: http://oiswww.eumetsat.org/IPPS/html/latestImages.html

[2016-11-21 03:06] smenon8 commented on #63
I am trying to download images that I scraped from Flickr. And I ran into the same issue.

[code]

I am using the below code to download the files:
[code]

Will a multithreading approach work?

[2016-11-21 10:54] boramalper commented on #63
@smenon8 How is this relevant to himawaripy?

[2016-12-04 15:51] soohyunc commented on #83
yup, this is true. the background image did not change automatically with crontab configuration, but only worked with manual run on terminal. why?

[2016-12-07 17:13] ngrande commented on #83
cron only has access to a very restricted set of environment variables - the python script here makes use of one that is not available in that case.

see SO answer here:
https://stackoverflow.com/questions/10374520/gsettings-with-cron/19666729#19666729

[2017-01-07 19:44] boramalper commented on #86
Sorry for such a belated answer (excuse me for university applications); thanks!

[2017-01-07 19:44] #86 closed

[2017-01-07 21:10] boramalper commented on #89
Hello @Daniel-at-github,

many people would like a _better_ version of the image such as:

* higher resolution (the "smallest" resolution himawaripy provides is 2200x2200)
* cleaner image without the white dots and outlines of the countries. I think we can strip the bottom-line ourselves so it should be fine for now.

Sorry for belated reply, I was applying to universities. I would be glad to add

[2017-01-08 09:03] boramalper commented on #83
Hey,

I tried and experienced the problem myself as well, although I didn't encounter it before (not sure if they changed the behaviour of services [if not, then how did it work for so long?]).

Anyway, not only the script makes use of environment variables but also `gsettinngs` (on `$DISPLAY`) which himawaripy heavily relies on. I'm trying to find a way without hard-coding environment variables,

[2017-01-09 12:44] Daniel-at-github commented on #89
@boramalper I'm afraid that the url for [EUMETSAT_MSG_RGBNatColour_LowResolution.jpg](http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBNatColour_LowResolution.jpg) is the best they gave for free. I looked for a better one with no luck.

[2017-01-10 14:46] boramalper commented on #89
Then I am afraid it is better not to add it.

Thanks for the suggestion though, I appreciate that.=)

[2017-01-10 14:46] #89 closed

[2017-02-05 06:26] soohyunc commented on #83
i have managed to fix this issue as a walk-around approach. basically, the link that @ngrande  shared above helped a lot.

that is, i have created a separate shell script as the below, and added in my crontab with the same period as the himawaripy executable file. this seemed to work very well so far.

[code]

[2017-02-14 20:39] dynnamic opened #91 "OSX Service Already Loaded"
I think I've followed the directions, yet I'm getting the message that says the following.

/Users/James/Library/LaunchAgents/org.boramalper.himawaripy.plist: service already loaded

How do I get the background to start?

[2017-02-16 20:54] Shmink opened #92 "setup.py install error"
`tom@tom-mint ~/himawaripy $ sudo python3 setup.py install`
`Traceback (most recent call last):`
`  File "setup.py", line 1, in <module>`
`    from setuptools import setup, find_packages`
`ImportError: No module named 'setuptools'`

I also installed `setuptools` via pip to be sure but the problem still persists.

[2017-03-10 07:34] littleningmeng opened #93 "New implementation with python2.7"
Hi, boramalper
Thanks to your great job, I re-implemented some features of himawaripy on Python2.7 whitch especially for Windows user.
My repo is https://github.com/littleningmeng/blueearth.git
And here is the release version https://github.com/littleningmeng/blueearth/releases

[2017-03-10 09:24] boramalper commented on #93
Hello, thanks for the heads up! himawaripy is strictly GNU/Linux and macOS only (as there is a Windows version which himawaripy was modeled after), but I can suggest you to create an installable package of blueearth for Windows. =)

Thanks!

[2017-03-10 09:24] #93 closed

[2017-07-25 20:41] ottlinger commented on #71
I seem to be having the same problem with Ubuntu ....
[code]

@boramalper any idea what to do? In the beginning I thought this could be a problem with the source, but the error happens regularly....

[2017-09-11 23:56] davidmckenzie opened #95 "OSX Improvements"
Probably not worth a PR, but wanted to drop in some customisations I made to the scripts for OSX:

Created /usr/local/bin/himawari.sh to be run via the scheduled job:
[code]

This does two things - it crops the image to 16:9 aspect ratio, anchored to the bottom of the image to capture that sweet view of Australia.

It also uses an alternative method of setting the desktop image, since the native m

[2017-12-05 16:22] jcmiller11 commented on #95
I can't test in Sierra myself, but the way the image is set right now is SUPPOSED to apply to secondary desktops, does anyone know when/what changed?

Also, cool idea to add some options for processing the image to be a bit prettier.  The head of this project, @boramalper I believe has stated in the past that one of his goals for this project is to keep the pre-reqs to a minimum, so if someone wan

[2017-12-27 07:29] #79 closed

[2017-12-27 08:30] boramalper commented on #68
I assume the problem has been solved, let me know if it still persist. Thanks!

[2017-12-27 08:30] #68 closed

[2017-12-27 08:30] boramalper commented on #82
I assume the problem has been solved, let me know if it still persist. Thanks!

[2017-12-27 08:30] #82 closed

[2018-01-12 07:47] chengshuangli opened #96 "support Ubuntu kylin 17.10 defaluts destop ukui"
Ubuntu kylin  17.10  defaluts destop is ukui
can you change something to surpport  ukui  desktop.

i try to find  how to do it, but  has not found yet.

[2018-03-11 22:43] boramalper commented on #96
Hey @lichengshuang! When you run himawaripy on Ubuntu 17.10, what error/output do you exactly get?

[2018-03-17 00:31] Partinax opened #97 "GLib-Gio-Message: Using the 'memory' GSettings backend. Your settings will not be saved or shared with other applications."
So this was happening to me for a while, and I eventually found out it has to do with my Anaconda python install.

Anyone who has anaconda installed will find that their gsettings command now references the anaconda directory: /home/matt/anaconda2/bin/gsettings

And for whatever reason, this gsettings can not save settings for other applications, and this error pops up when you run the scripts: "G

[2018-03-17 02:08] Partinax commented on #97
However, while running the script manually works, if I try to run it using either crontab or systemd, the new image is downloaded, and the old one removed, but the wallpaper is not updated. So the wallpaper just becomes a black screen as it tries to reference the now deleted image.

[2018-05-05 03:22] zenithyr commented on #83
above approach by @soohyunc is totally working. One suggestion is to change the "spanned" to "scaled" in order to center the image.

Thanks!

[2018-09-09 02:24] HaoweiCh commented on #95
It does support all desktop as I tested my Mojave...
the feature you mentioned it's great, I'll try to make it and trust me it's worth a PR if you can. :)

[2018-09-09 04:38] HaoweiCh commented on #95
see #102. I've changed readme and code to support better ratio...
I only have mac so I didn't now whether it's shows perfect under linux or what...
but it's awesome now, really...

[2018-09-27 08:32] #92 closed

[2018-12-07 19:13] boramalper commented on #95
Thanks for your contribution!

Let me try breaking your script down into pieces:

- `/usr/local/bin/mogrify -gravity south -crop ...`

  I assume this is where you crop the image. I am fairly sure that there is a way to achieve this using [PIL (pillow)](https://pillow.readthedocs.io/en/5.3.x/) so if you'd like to look into that and send a PR I'd be really happy to merge!

- I think timestamps are

[2018-12-07 19:17] boramalper commented on #91
Apologies that I couldn't help (as I was busy, and I am not familiar with macOS). I am closing the issue but feel free to comment if the issue persists.

[2018-12-07 19:17] #91 closed

[2019-01-08 09:31] ghost commented on #96
now i use ubutnu 18.04  it's run ok

[2019-01-30 07:47] fulei3517 opened #103 "在win10环境下运行不起来"
在win10上安装成功，并且图片也生成了，但是提示：“用提供的模式无法找到文件。”

[2019-01-30 13:56] Mustela-sibirica opened #104 "ModuleNotFoundError: No module named 'himawaripy'"
hi, I just installed it in Ubuntu 18.04,
GNOME Shell 3.28.3,

And I just updated  python3-setuptools,
return "Finished processing dependencies for himawaripy==2.0.1".

But, when I type "himawaripy", I got massage :

Traceback (most recent call last):
  File "/home/sun/anaconda3/bin/himawaripy", line 11, in <module>
    load_entry_point('himawaripy==2.0.1', 'console_scripts', 'himawaripy')()
  File

[2019-02-18 17:16] raphaelbs commented on #83
@soohyunc answer should be in `README`. Thank you!

[2019-04-09 10:32] djmbritt commented on #97
You can fix this by changing it in .bashrc.
Change: `export PATH="/home/djmbritt/anaconda3/bin:$PATH"`
To: `export PATH="$PATH:/home/djmbritt/anaconda3/bin"`

[2019-04-11 02:18] bbbf0621 opened #105 "cron job doesn't update wallpaper XFCE"
i can see it running every 10 mins under htop, so the cron is working but the wallpaper itself do not update.
*/10 * * * * /usr/bin/himawaripy

I thought it has something to do with the display so i changed the cron into this, but still no luck.
*/10 * * * * DISPLAY=:0.0 /usr/bin/himawaripy

But if i run this himawaripy command in the terminal myself it updates successfully, any ideas?

EDIT: Gues

[2019-04-11 03:01] bbbf0621 commented on #105
It's solved by enabling random wallpapers under the cache folder, it wouldn't auto select new file name even if there's only 1 file exist.

[2019-04-11 05:25] bbbf0621 commented on #105
Sorry, turns out cron does not accept */10 as to run every 10 minutes

[2019-04-11 07:50] rarealphacat commented on #105
Couldn't detect your desktop environment ('unknown'), but you have 'feh' installed so we will use it...
Edit: Finally got it running by putting himawarpi command inside conky lol, cron didn't work for me idk why.

[2019-04-11 08:29] #105 closed

[2019-04-24 15:01] boramalper commented on #103
我不会说中文。 你能用英语解释一下吗？

[2019-04-24 15:01] #103 closed

[2019-04-24 21:27] #83 closed

[2019-04-24 21:31] boramalper commented on #83
Fixed! You should now be able to use it as described in the README without any additional scripts. Let me know if you have any further questions. =)

[2019-04-24 21:46] boramalper commented on #97
@Partinax The new version that I have (just!) released solves the problem. Can you please try it yourself and let me know if the issue persists?

[2019-04-24 21:46] #97 closed

[2019-04-24 21:47] boramalper commented on #20
Closing the issue due to inactivity, feel free to open a new issue if the problem persists.

[2019-04-24 21:47] #20 closed

[2019-04-24 21:48] boramalper commented on #71
Closing the issue due to inactivity (+ frankly I don't know how to approach this either, feels like a problem with *your* machine's network access to me). Feel free to open a new issue if the problem persists.

[2019-04-24 21:48] #71 closed

[2019-04-24 22:05] boramalper commented on #105
Fixed it in the new version. I would appreciate if you can give it a try and let me know!

[2019-04-24 22:05] #96 closed

[2019-04-24 22:06] boramalper commented on #96
Feel free to reopen the issue if you need. =)

[2019-10-25 17:35] jerrimus opened #107 "kde session error?"
Could NOT retrieve env. var. KDE_FULL_SESSION
    Could NOT retrieve env. var. KDE_FULL_SESSION

Error on gnome3, seems to connect & download ok

[2019-11-24 21:52] count00zero opened #108 "Feature-Request: infrared"
Hi!
I recently found himawaripy and I do like it a lot ... downloading the actual image for my background and putting all the images together in a nice movie :)
And that's a reason for my request: to avoid the nightly blackness I would love to use the infrared (B13) Band Pictures.
Is there any chance, that you might add a configurable downloadoption for the image source (so one might choose infrar

[2020-02-17 14:43] fracz opened #110 "Equirectangular / flat view"
It would be awesome to support also the equirectangular view of our planet.

Just like the [DesktopEarth](http://www.anka.me/desktopearth.aspx) does on Windows.

![image](https://user-images.githubusercontent.com/3918865/74663491-270af900-519c-11ea-839b-f6dfe85bd233.png)

Is it possible to get such images from the source you use?

[2020-02-18 10:50] alanhewenyu opened #111 "How to install this in Windows?"
Can this script be compatible and runned in windows system? if can do it, how to install it?

[2020-08-31 14:27] w316525096 opened #114 "Raspberry pi"
OS: Raspbian GNU/Linux 10 (buster) armv7l
uname -a : Linux raspberrypi 5.4.51-v7+ #1327 SMP Thu Jul 23 10:58:46 BST 2020 armv7l GNU/Linux
[code]

[2020-08-31 14:32] #114 closed

[2020-09-21 09:41] RogerMonkey opened #116 "urllib.error.HTTPError: HTTP Error 404: Not Found"
hi there~
It seems that the origin url has failed and the picture cannot be download correctly.
The errors are shown below
[code]
thanks for your time~

[2020-10-31 10:09] arbaleast commented on #116
I also meet same problen,how to work out it?

[2020-10-31 10:09] arbaleast commented on #116
I also meet same problem,how to work out it?

[2020-11-10 06:26] Dumail commented on #116
me too!

[2020-11-13 11:14] boramalper commented on #116
Fixed thanks to @fiercedruid!

[2020-11-13 11:14] #116 closed

[2020-11-13 11:15] boramalper commented on #104
Hi, would you mind installing the latest version and trying again?

[code]

[2020-11-19 20:24] boramalper commented on #111
At the moment it's neither compatible nor we have plans to support Windows, but see https://gist.github.com/MichaelPote/92fa6e65eacf26219022

Though I am open to PRs if anyone would like to add support for Windows. =)

[2020-11-19 20:24] #111 closed

[2021-01-15 16:00] KilnOfTheSecondFlame commented on #110
Hi @fracz, the Himawari satellite is a geostationary weather satellite of the [National Institute of Information and Communications Technology](https://himawari8.nict.go.jp/), so I think what you have in mind is not possible. Or do I misunderstand you?

[2021-02-13 12:10] Taewan-P opened #119 "OSX image Quality setting with launchctl"
Hello,

I would like to know how to set image quality while using the plist given in your repo.
I've seen the logs and I think the current image quality setting is 16, but I want to change this to 20

Thank you

[2021-04-30 19:48] RealTehreal commented on #107
Same here. But project seems to be dead?

[2021-05-27 09:43] LPPSP opened #120 "FileNotFoundError: [Errno 2] No such file or directory: 'osascript'"
My os is  macOS Bigsur , python version is 3.9. Got following error.

[code]

[2021-05-27 11:20] #120 closed

[2021-06-11 14:04] tommix626 opened #121 "Windows failure： Bash not found"
PS D:\git\himawaripy> python3 himawaripy --auto-offset
himawaripy 2.2.0
Updating...
Latest version: 2021/06/11 13:30:00 GMT.
Detected offset: UTC+08:00
Offset version: 2021/06/11 11:30:00 GMT.
Downloading tiles...
Downloading tiles: 1/16 completed...
Downloading tiles: 2/16 completed...
Downloading tiles: 3/16 completed...
Downloading tiles: 4/16 completed...
Downloading tiles: 5/16 completed...
D

[2021-06-11 14:05] tommix626 commented on #121
win10 terminal python3.9

[2021-06-11 14:08] tommix626 commented on #121
when changing the wallpaper somehow it went wrong but the downloading is successful

[2021-07-13 16:59] cben commented on #108
Googling some other himawari tools that support infrared, it's as simple as (would need a flag obviously):
[code]
But that gives an unpleasant B&W image...

Ideally I'd love a blend akin to https://www.youtube.com/watch?v=ILyO1wSBhMw, with infrared bands used to fill in the dark areas.  Some explanation from [a comment there](https://www.youtube.com/watch?v=ILyO1wSBhMw&lc=Ugz47vgjcX9DIo-mi3F4AaABA

[2021-07-13 17:57] cben commented on #108
Ah, these `FULL_24h/Bnn` urls also work on the current himawari8-dl.nict.go.jp domain, I guess from the `-dl` name it's more polite to stick to it.

I'm curious how these FULL_24h images work. They always show a full disk, but they do change with times, e.g.:
https://himawari8.nict.go.jp/img/FULL_24h/B07/4d/550/2021/07/13/091000_1_1.png
https://himawari8.nict.go.jp/img/FULL_24h/B07/4d/550/2021/07/

[2021-08-05 17:43] jasonho1308 commented on #121
Windows don't have bash

[2021-08-06 06:45] tommix626 commented on #121
So Is there a way to let it work on windows' python terminal?

[2021-08-06 07:03] jasonho1308 commented on #121
You may try this #118

[2021-08-06 07:05] tommix626 commented on #121
Thank you! I'll give it a try

[2021-11-17 22:56] ihtruelsen opened #123 "Works from terminal, but no image from cron job"
I can run it from terminal with the following output:

ian@ian-MS-7C84:~$ /home/ian/.local/bin/himawaripy --auto-offset
himawaripy 2.2.0
Updating...
Latest version: 2021/11/17 22:20:00 GMT.
Detected offset: UTC-08:00
Offset version: 2021/11/17 04:20:00 GMT.
Downloading tiles...
Downloading tiles: 1/16 completed...
Downloading tiles: 2/16 completed...
Downloading tiles: 3/16 completed...
Downloadin

[2022-01-12 11:58] zzbajie commented on #83
OR PID=$(pgrep gnome-session | head -n1)

[2022-02-01 22:25] drgonzo31 commented on #123
Hello,
I'm having the same issue with the same ubuntu version and gnome shell.

[2022-02-01 22:26] skyywj commented on #123
小严同学已收到您的邮件，

[2022-09-13 10:39] zzbajie commented on #123
Ubuntu22.04 GNOME

sudo nano /home/xxx/himawaripy.sh
crontab -e
*/10 * * * * /home/xxx/himawaripy.sh

#!/bin/bash

${HOME}/.local/bin/himawaripy --auto-offset --dont-change
#--dont-change 只下载不修改壁纸

sleep 15

# Wallpaper's directory.
dir="${HOME}/.cache/himawaripy/"

# Environment variable
PID=$(pgrep gnome-session|head -n1)
export DBUS_SESSION_BUS_ADDRESS=$(grep -z DBUS_SESSION_BUS_ADDRESS /proc/$